@media (max-width: 800px) {
    .e {
        color: black;
        font-family: Orbitron, Helvetica, Arial, Verdana, Tahoma, sans-serif;
        width: 98%;
        background-color: rgba(255, 255, 255, 0.795);
        margin: 0 auto;
    }
}
@media (min-width: 800px) {
    .e {
        color: black;
        font-family: Orbitron, Helvetica, Arial, Verdana, Tahoma, sans-serif;
        width: 85%;
        background-color: rgba(255, 255, 255, 0.795);
        margin: 0 auto;
    }
}
.a {
    background-image: url("/assets/images/Brutalo.png");
    background-repeat: round;
    display: grid;
    gap: 50px 100px;
    background-color: rgb(250 238 114);
    background-attachment: fixed;
}

.LISt {
    background-color: rgb(0, 255, 13);
    font-family: Grenze Gotisch, Helvetica, Arial, Verdana, Tahoma, sans-serif;
    border-radius: 10%;
    border: 2px solid black;
}
.A {
    background-color: orangered;
    font-family: Orbitron, Helvetica, Arial, Verdana, Tahoma, sans-serif;
    transform: rotate(7deg);
}
.s {
    background-color: white;
    color: white;
    width: 50px;
    height: 50px;
    font-family: Orbitron, Helvetica, Arial, Verdana, Tahoma, sans-serif;
    font-size: 0.1px;
    border: 1px solid white;
    border-radius: 50%;
}

.UTe {
    background-color: hotpink;
    font-family: Grenze Gotisch, Helvetica, Arial, Verdana, Tahoma, sans-serif;
    border-radius: 10%;
    border: 2px solid black;
}
.i {
    background-color: gold;
    font-family: Impact,  Helvetica, Arial, Verdana, Tahoma, sans-serif;
}
.nt {
    background-color: lime;
    font-family: Orbitron, Helvetica, Arial, Verdana, Tahoma, sans-serif;
    transform: rotate(-7deg);
}
.icons8-firebase {
    display: inline-block;
    width: 48px;
    height: 48px;
    background: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHg9IjBweCIgeT0iMHB4Igp3aWR0aD0iNDgiIGhlaWdodD0iNDgiCnZpZXdCb3g9IjAgMCA0OCA0OCIKc3R5bGU9IiBmaWxsOiMwMDAwMDA7Ij48cGF0aCBmaWxsPSIjZmY4ZjAwIiBkPSJNOCwzN0wyMy4yMzQsOC40MzZjMC4zMjEtMC42MDIsMS4xODktMC41OTEsMS40OTQsMC4wMkwzMCwxOUw4LDM3eiI+PC9wYXRoPjxwYXRoIGZpbGw9IiNmZmEwMDAiIGQ9Ik04LDM2Ljk5Mmw1LjU0Ni0zNC4xOTljMC4xNDUtMC44OTUsMS4zNDctMS4wODksMS43NjctMC4yODVMMjYsMjIuOTkyTDgsMzYuOTkyeiI+PC9wYXRoPjxwYXRoIGZpbGw9IiNmZjZmMDAiIGQ9Ik04LjAwOCAzNi45ODZMOC4yMDggMzYuODI5IDI1LjczNyAyMi40ODggMjAuNzkzIDEzLjAxMnoiPjwvcGF0aD48cGF0aCBmaWxsPSIjZmZjNDAwIiBkPSJNOCwzN2wyNi42NjYtMjUuNzEzYzAuNTU5LTAuNTM5LDEuNDkyLTAuMjIxLDEuNjA2LDAuNTQ3TDQwLDM3bC0xNSw4Ljc0MyBjLTAuNjA5LDAuMzQyLTEuMzUyLDAuMzQyLTEuOTYxLDBMOCwzN3oiPjwvcGF0aD48L3N2Zz4=")
        50% 50% no-repeat;
    background-size: 100%;
}
.ang {
    background-image: url("/assets/images/angu.png");
    background-size: 100%;
}
