<div class="a">
  <div style="font-size: 4em;margin: auto;width: 50%;">
    <div *ngFor="let carateere of  titleLista.split(';')" [ngClass]="carateere" style="float: left;">
      {{carateere}}
    </div>
    <button (click)="goToLogin()"
      style="margin: auto; color: white; text-align: center; height: 2em; width: 2em;background-color: red; border: 3px solid white;border-radius: 50%;float: right;box-shadow: 10px;font-size: 70px;">ADD
      UTENTE</button>
  </div>

  <div *ngFor="let item of (utenti$ |async) ;let i = index" class="e"
    style="display:grid;  grid-template-columns: 70% 30%;">

    <div style="min-width: 100%">
      <h2>nome : {{item.nome}}</h2>
      <h2>cognome : {{item.cognome}}</h2>
      <div>
        {{item.registrered | myFormatData}} </div>
    </div>



    <div style="background-color: rgb(31 30 41);"><br><br><br>
      <div class="icons8-firebase"
        style="height: 3.5em; width: 3.5em;background-color: black; border: 3px solid white;border-radius: 50%;float: right;box-shadow: 10px;">
      </div>
      <div
        style="height: 3.5em; width: 3.5em;background-color: white;border: 3px solid black;border-radius: 50%;float: right;">


      </div>
      <div
        style="height: 3.5em; width: 3.5em;background-color: green;border: 3px solid black;border-radius: 50%;float: right;">
      </div>
    </div>



  </div>
</div>