@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@900&display=swap");
div#container {
    height: 100%;
    width: 100%;
    display: table;
}
div#content {
    background: whitesmoke;
    display: table-cell;
    vertical-align: middle;
    height: 100%;
    width: 100%;
    font-family: "Orbitron , sans-serif";
}
