<div *ngIf="!isStarted">
    <div *ngIf="!(playerScelto.pronto && nemicoScelto.pronto)">
        <div *ngIf="!haiScelto">
            <div class="grid-container" style="display: grid;grid-template-columns: auto  auto;">
                <div *ngFor="let item of (players |async) ;let i = index" class="gridElement" style="border:5px solid black">
                    <div [ngClass]="item.scelto ? 'green' :'red'">
                        {{item.scelto ? 'qualcuno ha scelto player '+ item.progressivo:'si puo scegliere'}}
                        <h1>{{item.nome}}-{{item.progressivo}}</h1>
                        <button *ngIf="!item.scelto" (click)="registraPlayer(item)">click me</button>
                    </div>
                </div>
            </div>
        </div>
        <div *ngIf="haiScelto ">
            <h1>{{playerScelto.nome}}</h1>
            <p>Ti sei registrato come player {{playerScelto.progressivo}}
            </p><br>
            <button *ngIf="!nemicoScelto.scelto" (click)="resetPlayer(playerScelto)">Reset player</button>
            <div>
                Stato nemico ( se verde ha scelto ) :
                <div [ngClass]="nemicoScelto.scelto ? 'green' : 'red'"
                    style="width:30px;max-width:30px;border-radius:100%; display: inline-block;min-height: 30px;">
                </div>
            </div>
            <div *ngIf="ciSonoTutti">
                <h2>Tutto pronto {{playerScelto.nome}}</h2>
                <h3>
                    Ti scontrerai con il player {{nemicoScelto.progressivo}} {{nemicoScelto.nome}}
                </h3>
                Tu come sei messo ? <br>
                <button *ngIf="!playerScelto.pronto" (click)="sonoPronto()">sono pronto</button> <br>
                Sei pronto ? se rosso no
                <div [ngClass]="playerScelto.pronto ? 'green' : 'red'"
                    style="width:30px;max-width:30px;border-radius:100%; display: inline-block;min-height: 30px;">
                </div>
                <br>
                E' pronto ? se rosso no
                <div [ngClass]="nemicoScelto.pronto ? 'green' : 'red'"
                    style="width:30px;max-width:30px;border-radius:100%; display: inline-block;min-height: 30px;">
                </div>
            </div>
        </div><br>
        <button *ngIf="!haiScelto" (click)="resetPlayers()">reset</button>
    </div>
    <div *ngIf="(playerScelto.pronto && nemicoScelto.pronto)">
        <h2>{{playerScelto.nome}} Vs {{nemicoScelto.nome}}</h2>
        <h3>Tu sei {{playerScelto.nome}} </h3>
        <h1>Il numero piu alto inzia , clicca per generarlo</h1>
        <button *ngIf="!isNumeropGenerato" (click)="updateNumeroAiDadi()">genera</button>
        <h3>
            Numero tuo {{playerScelto.numeroAiDadi}}
        </h3>
        <h3>
            Numero nemico {{nemicoScelto.numeroAiDadi}}
        </h3>
        <div *ngIf="nemicoScelto.numeroAiDadi !== 0 && playerScelto.numeroAiDadi !== 0">
            <div *ngIf=" playerScelto.numeroAiDadi > nemicoScelto.numeroAiDadi">
                <h1>Molto bene eroe {{playerScelto.nome}} , sono fiero di te</h1>
                <h2>Il tuo acume è solo inferiore alla tua infinta saggezza 💯</h2>
            </div>
            <div *ngIf=" playerScelto.numeroAiDadi < nemicoScelto.numeroAiDadi">
                <h1>Porca puttana amico ! {{playerScelto.nome}} sei proprio una merda</h1>
                <h2>Il tuo acume è solo inferiore alla tua infinta idiozia 👎</h2>
            </div>
            <div>
                <button (click)="readyGo()">ok andiamo !</button>
            </div>
        </div>
    </div>
</div>
<div *ngIf="isStarted">
    <h2>{{playerScelto.nome}} Vs {{nemicoScelto.nome}}</h2>
    <h3>Tu sei {{playerScelto.nome}} </h3>
    <h4>Turno di</h4>
    <h1>TRIS</h1>
    <div *ngFor="let matrix of (tris|async);let i = index"
        style="display: grid;width: 500px;max-width: 500px;grid-template-rows: auto auto auto;background-color: yellowgreen;">
        <div style="display: grid;grid-template-columns: auto auto auto;">
            <div *ngFor="let quadrato of matrix.uno;let j = index">
                <span (click)="sceltoQuestoQuadrato(0,j)" class="quadrato"
                    [ngStyle]="{'background-color': quadrato === 'X' ? 'red' :'white'}">
                    {{quadrato}}
                </span>
            </div>
        </div>
        <div style="display: grid;grid-template-columns: auto auto auto;">
            <div *ngFor="let quadrato of matrix.due;let j = index">
                <span (click)="sceltoQuestoQuadrato(1,j)" class="quadrato"
                    [ngStyle]="{'background-color': quadrato === 'X' ? 'red' :'white'}">
                    {{quadrato}}
                </span>
            </div>
        </div>
        <div style="display: grid;grid-template-columns: auto auto auto;">
            <div *ngFor="let quadrato of matrix.tre;let j = index">
                <span (click)="sceltoQuestoQuadrato(2,j)" class="quadrato"
                    [ngStyle]="{'background-color': quadrato === 'X' ? 'red' :'white'}">
                    {{quadrato}}
                </span>
            </div>
        </div>
    </div>
</div>