.green {
    background-color: rgb(4, 174, 226);
}
.red {
   background-color: crimson;
    
}
p,
div,
input {
    font-family: "Lexend", "Orbitron", "Courier New", Courier, monospace;
}
h1,
h2,
button {
    font-family: Orbitron, Helvetica, Arial, Verdana, Tahoma, sans-serif;
}
.grid-container {
    display: grid;
    gap: 50px 100px;
}
.quadrato {
    float: left;
    height: 150px;
    width: 150px;
    border: 2px solid black;
    font-size: 500%;
    text-align: center;
    text-align: line-;
    cursor: pointer;
    display: table-cell;
    vertical-align: middle;
}

.linea {
    display: inline-grid;
}
.abi {
    color:gold;
    background-image: url("/assets/images/Brutalo.png");
    background-repeat: round;
    background-color: rgb(39, 37, 23);
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}
.but,.numero{
    border-radius: 30%;
    border: 7px solid gold;
    background-color: crimson;
    font-size: 200%;
    color: gold;
    text-align: center;
}
.ebi{
    background-image: url("/assets/images/Brutalo.png");
    background-color: rgb(48, 56, 0);
    color: gold;
}