div#container {
    height: 100%;
    width: 100%;
    display: table;
}
div#content,span ,a{
    background: whitesmoke;
    display: table-cell;
    vertical-align: middle;
    height: 100%;
    width: 100%;
    font-family: 'Lexend','Orbitron', 'Courier New', Courier, monospace;
}